<ion-view view-title="Home">
  <ion-content>
    <div class="row region">
      <div class="col">
        <img ng-src="{{vm.lastPhoto}}" style="max-width: 100%">
      </div>
    </div>
    <button ng-click="vm.getPhoto()" class="btn-photo button button-block button-royal">
      <span ng-if="!lastPhoto">自拍一张</span>
      <span ng-if="lastPhoto">重拍一张</span>
    </button>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in vm.friendList" type="item-text-wrap">
        <a ng-if="$first" ng-click="vm.fightAnonymous()">
          <!-- <img ng-src="{{friend.face}}"> -->
          anonymous
        </a>
        <a ng-if="!$first" ng-click="vm.fightFriend(friend)">
          <!-- <img ng-src="{{friend.face}}"> -->
          {{friend}}
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
