<ion-view view-title="Home">
  <ion-content>
    <div class="row region">
      <div class="col">
        <img ng-src="{{vm.lastPhoto}}" style="max-width: 100%">
      </div>
    </div>
    <button ng-click="getPhoto()" class="btn-photo button button-block button-royal">
      <span ng-if="!lastPhoto">自拍一张</span>
      <span ng-if="lastPhoto">重拍一张</span>
    </button>
    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in vm.friendList" type="item-text-wrap">
        <a ng-if="$first" ng-click="vm.fightAnonymous()">anonymouse</a>
        <a ng-if="!$first" ng-click="vm.fightFriend(friend)">
          {{friend}}
        </a>
      </ion-item>
    </ion-list> -->
    <ion-scroll zooming="true" direction="y">
      <div class="region">
        <div class="row avatars">
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
            <div class="username">anonymous</div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="https://avatars3.githubusercontent.com/u/11214?v=3&amp;s=460">
            </div>
            <div class="username">ann</div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
            <div class="username">paper</div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
            <div class="username">ccx</div>
          </div>
        </div>
        <div class="row avatars">
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
        </div>
        <div class="row avatars">
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
        </div>
        <div class="row avatars">
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
          <div class="col">
            <div class="avatar">
                <img ng-src="img/anonymous-128.png" style="max-width: 100%">
            </div>
          </div>
        </div>
        <!-- <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>

          </ion-slide>
          <ion-slide>
            <div class="box yellow"><h1>YELLOW</h1></div>
          </ion-slide>
          <ion-slide>
            <div class="box pink"><h1>PINK</h1></div>
          </ion-slide>
        </ion-slide-box> -->
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
